.activity-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.preview-image-container {
  position: relative;
  display: inline-block;
  margin: 5px;
}

.preview-image {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.cancel-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
  font-size: 18px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
}
