.welcomeContainer {
  flex-direction: column;
}

.activityImage {
  max-width: 50%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0);
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.activityImage:hover {
  transform: scale(1.02);
}

/* General styling for the HomePage layout */
.home-container {
  padding: 20px;
}

.posts-column {
  padding-right: 20px;
}

.activities-column {
  padding-left: 20px;
}

/* Styling for individual post */
.post-image {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

/* Styling for buttons inside the post card */
.post-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.floating-icons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.create-post-icon,
.create-activity-icon {
  cursor: pointer;
  color: #007bff;
  transition: transform 0.2s;
}

.create-post-icon:hover,
.create-activity-icon:hover {
  transform: scale(1.2);
  color: rgb(1, 71, 1);
}
